<mat-sidenav-container>
  <mat-sidenav-content>
    <h1 class="mat-display-3">Get My Movies</h1>
    <div>
      <form [formGroup]="searchForm">
        <mat-form-field class="example-full-width">
          <input
            type="text"
            placeholder="Pick A Movie"
            matInput
            formControlName="search"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <ng-container *ngIf="options">
              <mat-option
                *ngFor="let option of options"
                (onSelectionChange)="onChooseMovie(option)"
              >
                {{ option.t }}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="options && options.length === 0">
              <mat-option>
                No Movies Found!
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <ng-container *ngIf="title">
      <h2 class="mat-display-1">
        {{ title }}
      </h2>
    </ng-container>
    <div *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <p *ngIf="title && !loading && !table.length && errorMessage">
      {{ errorMessage }}
    </p>
    <ng-container *ngIf="table.length && !loading">
      <table mat-table [dataSource]="table" class="mat-elevation-z8">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container [matColumnDef]="cols[0]">
          <th mat-header-cell *matHeaderCellDef>{{ cols[0] }}</th>
          <td mat-cell *matCellDef="let element">{{ element[cols[0]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="cols[1]">
          <th mat-header-cell *matHeaderCellDef>{{ cols[1] }}</th>
          <td mat-cell *matCellDef="let element">{{ element[cols[1]] }}</td>
        </ng-container>

        <ng-container [matColumnDef]="cols[2]">
          <th mat-header-cell *matHeaderCellDef>{{ cols[2] }}</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button
              *ngIf="!element['link']"
              mat-button
              [disabled]="downloadLoading"
              (click)="onDownloadMovie(i, element['url'])"
            >
              {{
                downloadLoading && downloadIndex === i
                  ? "Loading..."
                  : "Get Link"
              }}
            </button>
            <a
              *ngIf="element['link']"
              mat-button
              color="warn"
              [href]="element['link']"
              target="_blank"
            >
              Download
            </a>
            <!-- <button
              *ngIf="element['link']"
              mat-button
              color="warn"
              (click)="onClickCopy(element['link'])"
            >
              Copy
            </button> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
